old/
sourdough/
.idea/
__pycache__/
.trunk/
packages/
transhub/
/app_frontend_dist/dist/
/project/
*.log
*.pid
*.pyc
.DS_Store
**/.DS_Store
.DS_Store?
.vscode/

# 环境配置文件
.env
.env.local
.env.development
.env.production
.env.testing
.env*

# 临时文件
*.tmp
*.temp
/app_backend/config/development.py
/app_backend/config/production.py
